.search-bar {
        display: flex;
        align-items: center;
        margin-left: 24px;
        width: 50%;

        &__icon {
                height: 100%;
        }
        &__button {
                height: 30px;
                border: none;
                background: none;
                cursor: pointer;
        }
        &__input {
                border: none;
                background: none;
                width: 100%;
                margin: 0 10px;
                &:focus {
                        outline: none;
                }
        }
}


@media (max-width: 700px) {
        .search-bar {
                &__input {
                        margin: 0 3px;
                }
        }
}