*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
          url("/assets/fonts/AvenirNextLTProBold.ttf") format('ttf'),
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
          url("/assets/fonts/AvenirNextLTProRegular.ttf") format('ttf'),
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
          url("/assets/fonts/OpenSans-Bold.ttf") format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
          url("/assets/fonts/OpenSans-Regular.ttf") format('ttf');
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
          url("/assets/fonts/Kanit-Light.ttf") format('ttf');
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
          url("/assets/fonts/Kanit-Regular.ttf") format('ttf');
}


body {
  background: #f5f5f5;
  color:#37474f;
  font-family: 'Avenir Next LT Pro', sans-serif;
  -webkit-font-smoothing: antialiased;

}

.app {
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 70px 1fr;
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #79b1e2;
  border-radius: 30px;
}